<div class="cotainer">
    <br/>
    <center><h2 class="card-header  white text-muted  grey lighten-2 "><strong>Todas las instituciones</strong></h2></center>
    <br/>
    <a href="editCertif" data-toggle="modal" data-target="#modalForm" class="btn  btn-danger btn-lg white-text ">Nueva Institucion</a>
    <div class="row" id="container">
        
        
                
    </div>
</div>







<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nueva Institucion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-building-o prefix grey-text"></i>
                    <input type="text" id="name" class="form-control validate ">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Nombre de la institucion</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-picture-o prefix grey-text"></i>
                    <input type="text" id="img" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">URL de la imagen</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button  onclick="SaveInstitution()" class="btn btn-danger">Crear</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modalEmails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Correos de <b id="nombreInstitucion"></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td> <h5><b>En espera de documentos</b> </h5></td>
                        <td> <p>
                            <button  onclick="SaveInstitution()" class="btn btn-success btn-sm">Generar</button>
                            <button  onclick="SaveInstitution()" class="btn btn-primary btn-sm">Editar</button>
                            <button  onclick="SaveInstitution()" class="btn btn-danger  btn-sm">Boorar</button>
                        </p></td>
                        
                        </tr>
                        
                        
                    </tbody>
                    </table>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a id="btnEmail" href="/CreateEmail/3" class="btn btn-danger">Nuevo correo</a>
            </div>
            
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script>
    var row = '';
        fetch('/api/Institution/', {
            method: 'GET'
        }) 
        .then(res => res.json())
        .then( (data) => {
             $('#container').empty();
             
            for(const key in data['institution']){
                    img = "'"+data['institution'][key].img+"'";
                    name = "'"+data['institution'][key].nombre+"'";
                   console.log(key);
                  row += '<div style="padding: 25px;" onclick="Emails('+key+','+name+')"  class="col-md-3">'+
                            ' <div class="card text-center" >'+
                                    '<div class="card-body" style="background-image: url('+img+');  background-size: cover;">'+
                                        '<br/><br/><br/><br/> '+      
                                    '</div>'+
                                ' <div class="card-footer text-muted  grey lighten-2">'+
                                        '<strong style="margin-left: 40px;">'+data['institution'][key].nombre+'<i style="visibility: hidden;"  class="fa fa-check green-text fa-2x" aria-hidden="true"></i></strong> '+
                                    '</div>'+
                                '</div>'+
                            '</div>' 
                   
                 $('#container').append(row);

                row="";
                }

           
             
        })


    function SaveInstitution(){
        var name = document.getElementById('name').value;
        var img = document.getElementById('img').value;
        institution = {nombre: name, img: img}
                
                fetch('/api/Institution', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(institution)
                })
                .then(res => res.json())
                .then(data => {
                     alert('Felicidades a agregado una nueva institucion!')
                      location.reload(true)
                })
    }

    function Emails(id, name){
        document.getElementById('nombreInstitucion').innerHTML = name;
        document.getElementById('btnEmail').href="/CreateEmail/"+id;
        $('#modalEmails').modal('show')
    }


</script>