
    
   <div  style="padding-left: 30px; padding-right: 30px; padding-top: 10px">
    
        <div class="row" >
            
            <div class="col-md-6" style="padding: 10px;">
            
               
                        
                     
                    <textarea   name="content" id="content" rows="20" cols="20">
                                <div id=":sc" class="a3s aXjCH m162297a712f94a5d">
    <table align="center" style="color:#666;font-family:'Trebuchet MS',Helvetica,sans-serif!important;font-size:12px">
       <tbody>
          <tr>
             <td width="600" align="center">			<font></font>		</td>
          </tr>
       </tbody>
    </table>
    <table align="center" width="600" style="color:#666;font-family:'Trebuchet MS',Helvetica,sans-serif!important">
       <tbody>
          <tr id="m_-1395684894058269183idImagenTopMail">
               
             <td width="600" height="90">			
                    <div align="left" >
                        <img src="https://www.resumendesalud.net/images/Caid.jpg" height="90" width="300" alt="" style="display:block" class="CToWUd">			
                    </div>
             </td>
          </tr>
         
          <tr>
             <td>
                 
             </td>
          </tr>
          <tr>
              <td>
                    <div style="color: #34495e; margin: 4% 0% 0%; text-align: right;font-family: sans-serif">
                            <p style="text-align: rigth; font-size: 13px ">
                                Santo Domingo, D.N,<br> <# getDateOfToday #>
                            </p>
                            </div>
                    <div style="color: #34495e; margin: 4% 4% 2%; text-align: justify;font-family: sans-serif">
				
                        <p style="margin: 2px; font-size: 15px">
                                <br>
                                Solicitante: <br>
                              <br>
                              <strong><# getFieldValue(CAID01SolServ, a3nombres) #> <# getFieldValue(CAID01SolServ, a4apellido1) #> <# getFieldValue(CAID01SolServ, a5apellido2) #>   
                              </strong><br>
                              Solicitud: <strong><# getFieldValue(CAID01SolServ, a1numsolicitud) #></strong><br>
                              Fecha solicitud: <strong><# getFieldValue(CAID01SolServ, a7fecharegistro) #></strong><br>
                              <br>
                              <br>
                                Estimado ciudadano, le informamos que su solicitud referenciada al inicio de este email ha sido completada satisfactoriamente.<br><br> <b>Favor</b> ingrear al portal de servicio público en línea para descargar su certificación              <br>
                                
                              <br>
                              <br>
                              Cordialmente,
                              <br>
                              <br>
                              <strong>Dpto. Servicio Sociales</strong> 
                              <br>
                              Centro de Atención Integral para la Discapacidad	
                              <br>
                              <br>	
                          </p>
                          <p style="font-size: 12px"> 
                              <strong>Nota:</strong> Este correo electrónico es generado de manera automática por el sistema, por favor no responder a este mensaje. 
                          </p>
                        </div>
              </td>
          </tr>
         
          <tr>
            <td style="height:40px;background:	#18ACEC;border-top:thin solid #FDB268"></td>
          </tr>
       </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL"></div>
 </div>
                    </textarea>
                    
                    
                
            </div>
            
            <div class="col-md-6">
                <center><h1 class=" text-white"><b>Crea una  plantilla de  correo!</b></h3></center>
                <input type="text" name="name" placeholder="Nombre del correo" class="form-control"/>
                <br/>
                <input type="text" name="institucion" placeholder="Nombre del correo" class="form-control" disabled/>
                <br/>
                <button class="btn btn-lg btn-danger btn-block">Guardar Correo</button>
            </div>
        </div>
        
    </div>

    <script src="//cdn.ckeditor.com/4.10.1/full/ckeditor.js"></script>
    <script>
         CKEDITOR.config.height = 500;
        
         
         CKEDITOR.replace('content');
         fetch('/api/Institution/{{id}}', {
            method: 'GET'
        }) 
        .then(res => res.json())
        .then( (data) =>  {this.data(data.institution[0].nombre)})



        function data(nombre){
            document.getElementById('institucion').value = nombre
        }
    </script>